/* src/components/NavbarStyles.module.css */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    display: flex;
    align-items: center;
  }
  
  .navItem a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    transition: background-color 200ms ease-in-out;
  }
  
  .navItem a:hover {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border-radius: 10px;
  }

  
  
  .navText {
    display: none;
  }
  
  @media (min-width: 800px) {
    .navText {
      display: inline;
    }
  }
  
